# Loading Libraries

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

# Loading Dataset

In [10]:
data = pd.read_csv('restaurants.csv',engine='python',error_bad_lines=False)
data.head()

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)
Skipping line 2512: unexpected end of data

                 address  ...                   websites
0  2871 Gulf To Bay Blvd  ...                        NaN
1          605 W Main St  ...            atlanticno5.com
2        3803 9th St S W  ...     http://famousdaves.com
3           30 S Main St  ...     http://www.thefeve.com
4         55 Crescent Dr  ...  http://www.yallamedi.com/

[5 rows x 29 columns]

In [11]:
data.shape

(2510, 29)

In [16]:
data.groupby('country').size()

country
US    2510
dtype: int64

# Now we know that all restaurants are from US, we don't need this column anymore

In [18]:
data = data[['name','address','categories','city','cuisines','websites','lat','long','postalCode']]
data.head()

                                name  ... postalCode
0  Village Inn Restaurant and Bakery  ...      33759
1                     Atlantic No. 5  ...      40202
2                      Famous Dave's  ...      98373
3                           The Feve  ...      44074
4                            Quiznos  ...      94523

[5 rows x 9 columns]

# Top 10 cities on vegan restaurant counting on US

In [48]:
data['city'].value_counts().rank()[0:10]

New York         1137.0
Los Angeles      1136.0
Brooklyn         1135.0
Houston          1134.0
Seattle          1133.0
Philadelphia     1132.0
San Francisco    1131.0
Nashville        1130.0
Atlanta          1128.5
Chicago          1128.5
Name: city, dtype: float64